.green{
    background-color: aquamarine;
}
body{
    background-color: antiquewhite;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
h6{
    text-align: center;
    font-size: large;
    font-style: initial;
    margin: 12px 9px ;
}
h1{
    text-align: center;
}
h1{
    font-size: xx-large;
}
p{
    font-size: medium;
}
h3{
    font-size: small;
    text-align: right;
}
hr{
    color: #0efaab;
}
.special{
    padding: 150 px; 
    margin-left: 150 px;
}
img{
    width: 450px;
}