*{
    margin: 0;
    padding: 0;
}


.green{
    background-color: rgb(200, 253, 235);
    border: 0px;
    text-align: center;
    margin: 12px 9px;
}


body{
    
}


h1{
    font-family: 'Times New Roman', Times, serif;
}


h6{
    text-align: center;
    font-size: large;
    font-style: initial;
    margin: 12px 9px ;
}


h1{
    text-align: center;
    
}


h1{
    
}


p{
    font-size: medium;
}
h3{
    font-size: small;
    text-align: right;
}
hr{
    color: #0efaab;
}
.special{
    padding: 150 px; 
    margin-left: 150 px;
}
img{
    width: 250px;
    float: left;
    display: align;
    margin-left: 5px;
    margin-right: 18px;
    margin-bottom: 14px;
}
