*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fffcf5;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* adding font */

/* .nav-logo{
    object-fit: scale-down;
} */

/* navbar styling starts */

.nav-left{ 
    height: 100px;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

.nav-left ul{
    padding-left: 140px;
    display: flex;
}

.nav-left ul li{
    list-style: none;
    margin-left: 45px;
    margin-top: 55px;
}

.nav-left a{
    text-decoration: none;
    color: #131313;
}

/* navbar styling ends */

/* main content styling starts */
#pizza-img{
    float: right;
    filter: drop-shadow(13px 10px 4px #d0cec8);
}

main{
    margin-left: 45px;
    padding-left: 140px;
    padding-top: 55px;
}

h6{
    width: 12%;
    height: 25px;

    text-align: center;
    color: #fb4a36;
    font-size: 11px;
    border-style: solid;
}

p{
    width: 35%;
    font-size: 70px;
    font-weight: 500;

    
    border-style: solid;
}

h4{
    width: 35%;
    font-weight: 350;
    color: #d0cec8;
    border-style: solid;
}
/* main content styling ends */